<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
       <li class="nav-item">
          <a class="nav-link" href="search">Cerca il tuo meal</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="ricerche">Lista ricerche</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ricercheDB">Database</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="randomMeal">Random meal</a>
        </li>
      </ul>
    </div>
  </nav>
  
