<div class="searchDB-container">
  <h1>My Database</h1>

  <form (ngSubmit)="postDBInfo()">
    <button type="submit" class="btn btn-primary">Get DB</button>
  </form>

  <div class="meal-list">
    <h2>Results:</h2>
    <ng-container *ngIf="listMeal && listMeal.length > 0; else noResults">
      <ul class="list-group">
        <li
          *ngFor="let meal of listMeal"
          class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <strong>{{ meal.nomeRicerca }}</strong>
          </div>
          <span class="badge bg-primary rounded-pill">{{ meal.countSearch }}</span>
        </li>
      </ul>
    </ng-container>
    <ng-template #noResults>
      <p class="text-danger">No meals found. Try searching again.</p>
    </ng-template>
  </div>
</div>
