<h2>Scegli il tuo pasto</h2>

<form id="searchForm" (ngSubmit)="postMealInfo()" class="search-form">
    <div class="mb-3">
        <label for="MealName" class="form-label">Inserisci il nome:</label>
        <input type="text" id="MealName" [(ngModel)]="mealInput" name="Name" class="form-control"
            placeholder="Scrivi il nome del pasto" required />
    </div>
    <button type="submit" class="btn btn-primary">Cerca</button>
</form>



<div class="meal-list">
    <h2>Results:</h2>
    <div *ngIf="myMeal && myMeal.length > 0; else noResults" class="container-fluid">
        <div class="row g-4">
            <div *ngFor="let meal of myMeal" class="col-sm-6 col-md-3 col-lg-3">
                <div class="card h-100">
                    <img src="{{meal.strMealThumb}}" class="card-img-top" alt="{{ meal.strMeal }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ meal.strMeal }}</h5> <br>
                        <p class="card-text" style="max-height: 6em; overflow: scroll;">
                            {{ meal.strArea }}
                        </p>
                        <p class="card-text" style="max-height: 6em; overflow: scroll;">
                            {{ meal.strInstructions }}
                        </p>
                        <a *ngIf="meal?.strYoutube" href="{{meal?.strYoutube}}" class=" btn btn-primary mt-2"
                            style="display: block;" target="_blank" rel="noopener noreferrer"> See Video </a>
                        <a *ngIf="meal?.strSource" href="{{meal?.strSource}}" class=" btn btn-primary mt-2"
                            style="display: block;" target="_blank" rel="noopener noreferrer"> More info </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noResults>
        <p class="text-danger">No meals found. Try searching again.</p>
    </ng-template>
</div>


<footer class="footer">
    <p>Mangia e bevi sano</p>
</footer>